embedded/node-red/flows.json
[
  {
    "id": "807d8ce0.7020b8",
    "type": "tab",
    "label": "DTO_DHT11",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e487dc23.bac828",
    "type": "mqtt-broker",
    "z": "",
    "name": "MQTT",
    "broker": "172.18.1.3",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "d77cb8cc.90f3e",
    "type": "ui_group",
    "z": "",
    "name": " DHT11 Node-RED Dashboard",
    "tab": "6c490a2b.068994",
    "order": 1,
    "disp": true,
    "width": "15",
    "collapse": true
  },
  {
    "id": "6c490a2b.068994",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "74ed8ae0.2ca3ac",
    "type": "firebase config",
    "z": "",
    "firebaseurl": "outbreak-control-floripa",
    "loginType": "none"
  },
  {
    "id": "ba513540.4bc22",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "b83062c3.4fede",
    "type": "ui_tab",
    "name": "Tab 2",
    "icon": "dashboard",
    "order": 2
  },
  {
    "id": "5fb458e3.a01ba",
    "type": "ui_group",
    "name": "Group 2",
    "tab": "6c490a2b.068994",
    "order": 2,
    "disp": true,
    "width": 8
  },
  {
    "id": "46ee4d08.15f3f4",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d77cb8cc.90f3e",
    "order": 1,
    "width": 1,
    "height": 1
  },
  {
    "id": "9cdb9812.47786",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d77cb8cc.90f3e",
    "order": 5,
    "width": 15,
    "height": 1
  },
  {
    "id": "d38c2c73.51096",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d77cb8cc.90f3e",
    "order": 7,
    "width": 1,
    "height": 1
  },
  {
    "id": "3f2ab42e.3311d4",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d77cb8cc.90f3e",
    "order": 9,
    "width": 1,
    "height": 1
  },
  {
    "id": "aedd1f0d.98c56",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d77cb8cc.90f3e",
    "order": 10,
    "width": 1,
    "height": 1
  },
  {
    "id": "f7295b91.b1beb8",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d77cb8cc.90f3e",
    "order": 11,
    "width": 1,
    "height": 1
  },
  {
    "id": "cfbfdbbf.7d208",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d77cb8cc.90f3e",
    "order": 12,
    "width": 1,
    "height": 1
  },
  {
    "id": "108271ed.a69e9e",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d77cb8cc.90f3e",
    "order": 13,
    "width": 9,
    "height": 1
  },
  {
    "id": "db4cf772.67c6f",
    "type": "mqtt out",
    "z": "807d8ce0.7020b8",
    "name": "",
    "topic": "dto/dht11/status",
    "qos": "0",
    "retain": "",
    "broker": "e487dc23.bac828",
    "x": 560,
    "y": 220,
    "wires": []
  },
  {
    "id": "205161ea.492bce",
    "type": "comment",
    "z": "807d8ce0.7020b8",
    "name": "INFO",
    "info": "Ao clicar no START é enviado o param \"1\" para o tópico dto/dht11/status, o qual o ESP8266 está subscrito. Quando o ESP8266 recebe '1' ele começa a coletar os dados dos sensores e envia para o banco NoSQL.\nAo clicar no STOP é enviado o param \"0\" para o tópico dto/dht11/status, e quando o ESP8266 recebe '0' ele para de coletar dados até que receba novamente o param '1'",
    "x": 630,
    "y": 40,
    "wires": []
  },
  {
    "id": "da595a6c.3a48a8",
    "type": "firebase.on",
    "z": "807d8ce0.7020b8",
    "name": "lastValue_temperatura",
    "firebaseconfig": "74ed8ae0.2ca3ac",
    "childpath": "sensores/60:01:94:38:12:a7:/2020-10-16/temperatura",
    "atStart": true,
    "eventType": "value",
    "queries": [
      {
        "name": "limitToLast",
        "value": "1"
      },
      {
        "name": "orderByKey",
        "value": ""
      }
    ],
    "x": 240,
    "y": 400,
    "wires": [
      [
        "c39e598.3e42928"
      ]
    ]
  },
  {
    "id": "c39e598.3e42928",
    "type": "function",
    "z": "807d8ce0.7020b8",
    "name": "extract_temperatura_media",
    "func": "var novo = JSON.stringify(msg.payload);\nvar parts = novo.split(\"{\");\nvar key = parts[1].substring(0,parts[1].length-1);\nvar string = novo.replace(key,\"\\\"chave\\\"\");\n\nvar obj = JSON.parse(string);\n\nmsg.payload = obj.chave.media;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 420,
    "wires": [
      [
        "fee7db4c.db15d"
      ]
    ]
  },
  {
    "id": "fee7db4c.db15d",
    "type": "ui_chart",
    "z": "807d8ce0.7020b8",
    "name": "Temperatura Média",
    "group": "d77cb8cc.90f3e",
    "order": 6,
    "width": 8,
    "height": 5,
    "label": "Temperatura",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "50",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 750,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "ed1e70f2.c42428",
    "type": "firebase.on",
    "z": "807d8ce0.7020b8",
    "name": "lastValue_umidade",
    "firebaseconfig": "74ed8ae0.2ca3ac",
    "childpath": "sensores/60:01:94:38:12:a7:/2020-10-16/umidade",
    "atStart": true,
    "eventType": "value",
    "queries": [
      {
        "name": "limitToLast",
        "value": "1"
      }
    ],
    "x": 230,
    "y": 480,
    "wires": [
      [
        "e7c453ef.a593d"
      ]
    ]
  },
  {
    "id": "e7c453ef.a593d",
    "type": "function",
    "z": "807d8ce0.7020b8",
    "name": "extract_umidade_media",
    "func": "var novo = JSON.stringify(msg.payload);\nvar parts = novo.split(\"{\");\nvar key = parts[1].substring(0,parts[1].length-1);\nvar string = novo.replace(key,\"\\\"chave\\\"\");\n\nvar obj = JSON.parse(string);\n\nmsg.payload = obj.chave.media;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 500,
    "wires": [
      [
        "c2a0cf6f.c2a5"
      ]
    ]
  },
  {
    "id": "c2a0cf6f.c2a5",
    "type": "ui_gauge",
    "z": "807d8ce0.7020b8",
    "name": "Umidade",
    "group": "d77cb8cc.90f3e",
    "order": 8,
    "width": 6,
    "height": 6,
    "gtype": "gage",
    "title": "Umidade",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 740,
    "y": 520,
    "wires": []
  },
  {
    "id": "4b37fad3.284674",
    "type": "ui_button",
    "z": "807d8ce0.7020b8",
    "name": "",
    "group": "d77cb8cc.90f3e",
    "order": 2,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "START",
    "tooltip": "Clique para iniciar a aquisição dos dados",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "1",
    "payloadType": "str",
    "topic": "",
    "x": 160,
    "y": 140,
    "wires": [
      [
        "db4cf772.67c6f",
        "c21d0b3d.a88398"
      ]
    ]
  },
  {
    "id": "114af7e4.0c771",
    "type": "ui_button",
    "z": "807d8ce0.7020b8",
    "name": "",
    "group": "d77cb8cc.90f3e",
    "order": 3,
    "width": 3,
    "height": 1,
    "passthru": false,
    "label": "STOP",
    "tooltip": "Clique para parar a aquisição dos dados",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "0",
    "payloadType": "str",
    "topic": "",
    "x": 150,
    "y": 240,
    "wires": [
      [
        "db4cf772.67c6f",
        "2b8e889.6953478"
      ]
    ]
  },
  {
    "id": "bb767fcb.7eefe8",
    "type": "ui_text",
    "z": "807d8ce0.7020b8",
    "group": "d77cb8cc.90f3e",
    "order": 4,
    "width": 8,
    "height": 1,
    "name": "",
    "label": "Status: ",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 560,
    "y": 100,
    "wires": []
  },
  {
    "id": "c21d0b3d.a88398",
    "type": "change",
    "z": "807d8ce0.7020b8",
    "name": "start msg status",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "Aquisição de Dados em curso",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 340,
    "y": 80,
    "wires": [
      [
        "bb767fcb.7eefe8"
      ]
    ]
  },
  {
    "id": "2b8e889.6953478",
    "type": "change",
    "z": "807d8ce0.7020b8",
    "name": "stop msg status",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "Aquisição de dados parada",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 140,
    "wires": [
      [
        "bb767fcb.7eefe8"
      ]
    ]
  }
]