embedded/node-red/flows.json
[
  {
    "id": "807d8ce0.7020b8",
    "type": "tab",
    "label": "DTO_DHT11",
    "disabled": false,
    "info": ""
  },
  {
    "id": "db4cf772.67c6f",
    "type": "mqtt out",
    "z": "807d8ce0.7020b8",
    "name": "",
    "topic": "dto/dht11/status",
    "qos": "0",
    "retain": "",
    "broker": "e487dc23.bac828",
    "x": 460,
    "y": 140,
    "wires": []
  },
  {
    "id": "205161ea.492bce",
    "type": "comment",
    "z": "807d8ce0.7020b8",
    "name": "INFO",
    "info": "Ao clicar no START é enviado o param \"1\" para o tópico dto/dht11/status, o qual o ESP8266 está subscrito. Quando o ESP8266 recebe '1' ele começa a coletar os dados dos sensores e envia para o banco NoSQL.\nAo clicar no STOP é enviado o param \"0\" para o tópico dto/dht11/status, e quando o ESP8266 recebe '0' ele para de coletar dados até que receba novamente o param '1'",
    "x": 630,
    "y": 40,
    "wires": []
  },
  {
    "id": "da595a6c.3a48a8",
    "type": "firebase.on",
    "z": "807d8ce0.7020b8",
    "name": "lastValue_temperatura",
    "firebaseconfig": "",
    "childpath": "sensores/60:01:94:38:12:a7:/2020-10-15/temperatura",
    "atStart": true,
    "eventType": "value",
    "queries": [
      {
        "name": "limitToLast",
        "value": "1"
      },
      {
        "name": "orderByKey",
        "value": ""
      }
    ],
    "x": 240,
    "y": 400,
    "wires": [
      [
        "c39e598.3e42928"
      ]
    ]
  },
  {
    "id": "c39e598.3e42928",
    "type": "function",
    "z": "807d8ce0.7020b8",
    "name": "extract_temperatura_media",
    "func": "var novo = JSON.stringify(msg.payload);\nvar parts = novo.split(\"{\");\nvar key = parts[1].substring(0,parts[1].length-1);\nvar string = novo.replace(key,\"\\\"chave\\\"\");\n\nvar obj = JSON.parse(string);\n\nmsg.payload = obj.chave.media;\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 500,
    "y": 420,
    "wires": [
      [
        "fee7db4c.db15d"
      ]
    ]
  },
  {
    "id": "fee7db4c.db15d",
    "type": "ui_chart",
    "z": "807d8ce0.7020b8",
    "name": "Temperatura Média",
    "group": "d77cb8cc.90f3e",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Temperatura",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 770,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "ed1e70f2.c42428",
    "type": "firebase.on",
    "z": "807d8ce0.7020b8",
    "name": "lastValue_umidade",
    "firebaseconfig": "",
    "childpath": "sensores/60:01:94:38:12:a7:/2020-10-15/umidade",
    "atStart": true,
    "eventType": "value",
    "queries": [
      {
        "name": "limitToLast",
        "value": "1"
      }
    ],
    "x": 230,
    "y": 480,
    "wires": [
      [
        "e7c453ef.a593d"
      ]
    ]
  },
  {
    "id": "e7c453ef.a593d",
    "type": "function",
    "z": "807d8ce0.7020b8",
    "name": "extract_umidade_media",
    "func": "var novo = JSON.stringify(msg.payload);\nvar parts = novo.split(\"{\");\nvar key = parts[1].substring(0,parts[1].length-1);\nvar string = novo.replace(key,\"\\\"chave\\\"\");\n\nvar obj = JSON.parse(string);\n\nmsg.payload = obj.chave.media;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 490,
    "y": 500,
    "wires": [
      [
        "c2a0cf6f.c2a5"
      ]
    ]
  },
  {
    "id": "c2a0cf6f.c2a5",
    "type": "ui_gauge",
    "z": "807d8ce0.7020b8",
    "name": "Umidade",
    "group": "d77cb8cc.90f3e",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Umidade",
    "label": "units",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "",
    "seg2": "",
    "x": 740,
    "y": 520,
    "wires": []
  },
  {
    "id": "4b37fad3.284674",
    "type": "ui_button",
    "z": "807d8ce0.7020b8",
    "name": "",
    "group": "d77cb8cc.90f3e",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "START",
    "tooltip": "Clique para iniciar a aquisição dos dados",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "1",
    "payloadType": "str",
    "topic": "",
    "x": 250,
    "y": 80,
    "wires": [
      [
        "db4cf772.67c6f"
      ]
    ]
  },
  {
    "id": "114af7e4.0c771",
    "type": "ui_button",
    "z": "807d8ce0.7020b8",
    "name": "",
    "group": "d77cb8cc.90f3e",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "STOP",
    "tooltip": "Clique para parar a aquisição dos dados",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "0",
    "payloadType": "str",
    "topic": "",
    "x": 250,
    "y": 180,
    "wires": [
      [
        "db4cf772.67c6f"
      ]
    ]
  },
  {
    "id": "e487dc23.bac828",
    "type": "mqtt-broker",
    "z": "",
    "name": "MQTT",
    "broker": "172.18.1.3",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "d77cb8cc.90f3e",
    "type": "ui_group",
    "z": "",
    "name": "DHT11",
    "tab": "6c490a2b.068994",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "6c490a2b.068994",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]